*{
    background-color:black;
    color:  white;
    /* padding: 5px; */
}

.class1{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: 300%;
}

.solidclass1{
    border-style: none none solid none;
}

.dottedclass1{
    border-style: dotted;
}

.gradientclass1{
    background-image: linear-gradient(to right, rgb(31, 2, 2), rgb(194, 13, 13));
    border-color: black;
    padding:5px;
}

.buttonclass1{
    border-radius: 15px;
    background-image: linear-gradient(to right, white, red);
}

#paddingclass1{
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}